HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Kotlin ###
.kotlin
/chicken-api-460112-52ea6363b3cd.json
.DS_Store

### Python ###
*.pyc
*.pyo
*.pyd
__pycache__/
*.pkl
*.egg
*.egg-info/
*.whl
.Python
env/
venv/
venv_chicken_api/
activate/   


### OpenAI ###
openai_api_key.txt

### Local Spring Boot Profile ###
application-local.properties
agent-traces.log