<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout :: layout(~{::title}, ~{::section})}"
>
  <head>
    <title>About / Contribute</title>
  </head>
  <section class="max-w-2xl mx-auto">
    <h1 class="text-3xl font-bold mb-6 text-yellow-700 text-center">About / Contribute</h1>
    <p class="mb-4 text-gray-700">
      TODO: Add information about who you are and the purpose of the project.
    </p>
    <h2 class="text-2xl font-semibold mb-2">How to Submit Data</h2>
    <p class="mb-4 text-gray-700">
      TODO: Describe the process for submitting new chicken or breed data.
    </p>
    <div class="mt-6 text-center">
      <script
        type="text/javascript"
        src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
        data-name="bmc-button"
        data-slug="qwex"
        data-color="#FF5F5F"
        data-emoji="🐔"
        data-font="Arial"
        data-text="Support the Flock"
        data-outline-color="#000000"
        data-font-color="#ffffff"
        data-coffee-color="#FFDD00"
      ></script>
    </div>
  </section>
</html>
