<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>🐔Chicken API </title>
    <link rel="icon" href="/favicon_64.ico" type="image/x-icon" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-gray-50 flex items-center justify-center min-h-screen">
    <div class="bg-white shadow-lg rounded-lg p-10 text-center">
      <h1 class="text-3xl font-bold mb-4 text-yellow-700">🐔Chicken API</h1>
      <p class="mb-6 text-gray-700">Welcome to the Chicken API!</p>
      <a href="/swagger-ui/index.html"
         class="inline-block px-6 py-3 bg-yellow-400 text-white font-semibold rounded hover:bg-yellow-500 transition">
        View API Documentation
      </a>
    </div>
  </body>
</html>
